@import 'setup';

$primary-background-color: #171B0E;
$secondary-background-color: #2B331B;
$primary-font-color: #FFF;
$primary-accent-color: #FFD300;
$secondary-accent-color: #000;

@primary-font-family: 'Josefin Sans', sans-serif;
@secondary-font-family: 'Barlow', sans-serif;