@import 'setup';
@import 'variables';
@import 'mixins';

/* --- General and Headings --- */

body {
    background: $primary-background-color;
    color: $primary-font-color;
    font-family: $primary-font-family;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $primary-font-color;
}

p {
    font-family: $secondary-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 69px;
}

h1 span {
    background: #FFF;
    color: $secondary-accent-color;
    display: block;
    width: 460px;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    color: $primary-accent-color;
    margin: 0;
}

h5 {
    color: $primary-accent-color;
    font-size: 20px;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.main-button {
    text-transform: uppercase;
    background: $primary-accent-color;
    color: $secondary-accent-color;
    padding: 10px;
    line-height: 41.6px;
    font-size: 22.4px;
}

.find-more-button {
    text-transform: uppercase;
    background: $secondary-accent-color;
    color: $primary-font-color;
    padding: 10px;
    line-height: 41.6px;
    font-size: 22.4px;
}

.special-heading {
    color: $primary-accent-color;
}

/* --- Header and Navigation --- */

.home-header {
    background-image: url(../the-restaurant-mall-assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
}

.blog-header {
    background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.contact-header {
    background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.header-side-image img {
    position: absolute;
    right: 0;
    top: 150px;
    width: 50%;
}

.header-nav {
    display: flex;
    padding-top: 50px;
    width: 50%;
}

nav li {
    padding-right: 50px;
}

.header-nav a {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px; 
}

.header-nav span {
    padding-bottom: 5px;
    border-bottom: 2px solid $primary-accent-color;
}

/* --- About Section --- */

.about-section {
    background: $secondary-background-color;
    padding: 200px 0;
}

.about-container-first, 
.about-container-second {
    display: flex;
}

.about-container-first div,
.about-container-second div {
    width: calc(100% / 2);
    margin: 0 30px;
}


/* --- Profile Section --- */

.profile-section {
    padding: 70px 0;
}

.burgers-text {
    width: 50%;
    float: right;
    margin-bottom: 10px;
}

.something-new-text {
    width: 50%;
    float: left;
    margin-top: 10px;
    text-align: right;
}

.burgers-image {
    float: left;
    width: 40%;
    position: relative;
    top: -100px;
}

.something-new-image {
    float: right;
    width: 40%;
    position: relative;
    bottom: -100px;
}

.burgers-image img {
    box-shadow: 15px 15px $primary-accent-color;
    width: 100%;
    object-fit: cover;
}

.something-new-image img {
    box-shadow: -15px 15px $primary-accent-color;
    width: 100%;
    object-fit: cover;
}

/* --- Gift Section -- */

.gift-container {
    background: $secondary-background-color;
    padding: 100px 0;
    text-align: center;
}

/* --- Picture Section -- */

.picture-container {
    background-image: url(../the-restaurant-mall-assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

/* --- Spaces Section --- */

.spaces-section {
    padding-top: 70px;
    padding-bottom: 50px;
    background: $secondary-background-color;
}

.spaces-container {
    display: flex;
}

.spaces-image {
    height: 200px;
    width: 100%;
}

.spaces-image img {
    box-shadow: -15px 15px $primary-accent-color;
    margin-left: 15px;
}

.spaces-text {
    padding-left: 70px;
}

/* --- Gallery Section --- */

.gallery-section {
    padding: 50px 0;
}

.gallery-container {
    display: flex;
    justify-content: space-evenly;
}

.gallery-container img {
    padding: 0 20px;
}

/* --- Footer --- */

footer {
    background: $secondary-accent-color;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 10px;
}




/* ===== BLOG PART ==== */

.blog-container {
    display: flex;
    justify-content: space-between;
    background: $secondary-background-color;
    padding-bottom: 50px;
}

aside {
    width: 35%;
    margin: 50px 50px 0 0;
}

article {
    width: 65%;
}

.side-container {
    background: $secondary-background-color;
    position: relative;
}

.blog-side-image {
    position: relative;
    z-index: 1;

}

.blog-side-image img {
    object-fit: cover;
    width: 100%;
    box-shadow: 15px 15px $primary-background-color
}

.blog-side-text {
    background: $primary-background-color;
    padding: 30px;
    margin-left: 15px;
    margin-right: -15px;
}

.blog-post-image {
    margin-left: 30px;
    position: relative;
    top: -130px;
}

.blog-post-image img {
    box-shadow: -15px 15px $primary-accent-color;
    width: 100%;
    object-fit: cover;
}

.blog-post {
    border: 5px solid $primary-accent-color;
    border-top: 0;
    border-right: 0;
    margin-left: 15px;
    padding: 40px 50px;
    position: relative;
    top: -115px;
}

aside ul {
    list-style: inside disc;
    font-family: $secondary-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

.date {
    font-weight: 700;
}

.comments-container {
    padding: 0px 49px 10px 67px;
}

.comment-one,
.comment-two {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.comment-one > div:first-child,
.comment-two > div:first-child {
    margin-right: 20px;
}

.comment-one > div:nth-child(2),
.comment-two > div:nth-child(2)  {
    width: 90%;
}

.blog-form-container {
    padding: 0px 49px 50px 67px;
}

.blog-form-name {
    width: calc((100% / 2) - 10px);
    display: inline-block;
    margin-right: 5px;
}

.blog-form-email {
    width: calc((100% / 2) - 10px);
    display: inline-block;
    margin-left: 9px;
}


/* ===== CONTACT PART ==== */



.contact-flex-container {
    display: flex;
    justify-content: space-between;
    background: $secondary-background-color;
}

.contact-info-container {
    margin: 50px 100px;
}

.social-links {
    display: flex;
}

.social-links li a {
    color: $primary-accent-color;
    padding-right: 20px;
    margin-bottom: 20px;
}

address {
    font-style: normal;
}

address p {
    margin: 0;
}

address a {
    font-family: $secondary-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    display: block;
}

address a:first-child {
    margin-bottom: 10px;
}



.contact-form-container {
    margin-left: 10px;

}

.contact-form {
    background: $primary-background-color;
    box-shadow: 15px 15px $primary-accent-color;
    padding: 25px;
    position: absolute;
    top: 30%;
    right: 50px;
    width: 50%;
}

.contact-form-name {
    width: calc((100% / 2) - 10px);
    display: inline-block;
    margin-right: 5px;
}

.contact-form-email {
    width: calc((100% / 2) - 10px);
    display: inline-block;
    margin-left: 9px;
    background: $primary-background-color;
}

input[type=text],
input[type=email] {
    border: none;
    border-bottom: 2px solid $primary-accent-color;
    width: 100%;
    background: transparent;
    padding: 10px;
    color: $primary-font-color;
    font-family: $secondary-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

input::placeholder {
    background: transparent;
    color: $primary-font-color;
    opacity: 1;
}

textarea,
textarea::placeholder {
    background: transparent;
    color: $primary-font-color;
    opacity: 1;
    border: none;
    border: 2px solid $primary-accent-color;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    height: 200px;
    font-family: $secondary-font-family;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

button {
    border: none;
    text-transform: uppercase;
    font-family: $primary-font-family;
    font-size: 22.4px;
    line-height: 41.6px;
    text-align: center;
    background: $primary-accent-color;
    color: $secondary-accent-color;
    width: 100%;
    margin-top: 25px;
}





* {
    outline: 1px solid red;
}


@import 'media-queries';