html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- General and Headings --- */
body {
  background: #171B0E;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 69px;
}

h1 span {
  background: #FFF;
  color: #000;
  display: block;
  width: 460px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  color: #FFD300;
  margin: 0;
}

h5 {
  color: #FFD300;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.main-button {
  text-transform: uppercase;
  background: #FFD300;
  color: #000;
  padding: 10px;
  line-height: 41.6px;
  font-size: 22.4px;
}

.find-more-button {
  text-transform: uppercase;
  background: #000;
  color: #FFF;
  padding: 10px;
  line-height: 41.6px;
  font-size: 22.4px;
}

.special-heading {
  color: #FFD300;
}

/* --- Header and Navigation --- */
.home-header {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}

.blog-header {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.contact-header {
  background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.header-side-image img {
  position: absolute;
  right: 0;
  top: 150px;
  width: 50%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  width: 50%;
}

nav li {
  padding-right: 50px;
}

.header-nav a {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.header-nav span {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFD300;
}

/* --- About Section --- */
.about-section {
  background: #2B331B;
  padding: 200px 0;
}

.about-container-first,
.about-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container-first div,
.about-container-second div {
  width: calc(100% / 2);
  margin: 0 30px;
}

/* --- Profile Section --- */
.profile-section {
  padding: 70px 0;
}

.burgers-text {
  width: 50%;
  float: right;
  margin-bottom: 10px;
}

.something-new-text {
  width: 50%;
  float: left;
  margin-top: 10px;
  text-align: right;
}

.burgers-image {
  float: left;
  width: 40%;
  position: relative;
  top: -100px;
}

.something-new-image {
  float: right;
  width: 40%;
  position: relative;
  bottom: -100px;
}

.burgers-image img {
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.something-new-image img {
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* --- Gift Section -- */
.gift-container {
  background: #2B331B;
  padding: 100px 0;
  text-align: center;
}

/* --- Picture Section -- */
.picture-container {
  background-image: url(../the-restaurant-mall-assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

/* --- Spaces Section --- */
.spaces-section {
  padding-top: 70px;
  padding-bottom: 50px;
  background: #2B331B;
}

.spaces-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spaces-image {
  height: 200px;
  width: 100%;
}

.spaces-image img {
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
  margin-left: 15px;
}

.spaces-text {
  padding-left: 70px;
}

/* --- Gallery Section --- */
.gallery-section {
  padding: 50px 0;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery-container img {
  padding: 0 20px;
}

/* --- Footer --- */
footer {
  background: #000;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 10px;
}

/* ===== BLOG PART ==== */
.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2B331B;
}

aside {
  width: 35%;
  margin: 50px 50px 0 0;
}

article {
  width: 65%;
}

.side-container {
  background: #2B331B;
}

.blog-side-image {
  position: absolute;
  z-index: 1;
}

.blog-side-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blog-side-text {
  background: #171B0E;
  padding: 350px 20px 20px;
  width: 75%;
  position: relative;
  margin-left: 30px;
}

.blog-post {
  border: 5px solid #FFD300;
  border-right: 0;
  margin-left: 15px;
  padding: 40px 50px;
}

.blog-post-image {
  margin-left: 30px;
  position: relative;
  top: -50px;
}

.blog-post-image img {
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

aside ul {
  list-style: inside disc;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
}

.date {
  font-weight: 700;
}

.comment-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-one-pic {
  width: calc(100% / 2);
}

.comment-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ===== CONTACT PART ==== */
.contact-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2B331B;
}

.contact-info-container {
  margin: 20px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links li a {
  color: #FFD300;
  padding: 20px 10px;
}

.contact-form-container {
  position: absolute;
  z-index: 1;
  right: 50px;
  bottom: 100px;
  width: 50%;
}

.contact-form {
  background: #171B0E;
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
  padding: 25px;
}

.contact-form-name {
  width: 50%;
  padding-right: 10px;
}

.contact-form-email {
  width: 50%;
}

input[type=text],
input[type=email] {
  border: none;
  border-bottom: 2px solid #FFD300;
  width: 100%;
  padding: 10px;
  background: transparent;
}

input::-webkit-input-placeholder {
  background: #2B331B;
  color: #FFF;
}

input::-moz-placeholder {
  background: #2B331B;
  color: #FFF;
}

input:-ms-input-placeholder {
  background: #2B331B;
  color: #FFF;
}

input::-ms-input-placeholder {
  background: #2B331B;
  color: #FFF;
}

input::placeholder {
  background: #2B331B;
  color: #FFF;
}

textarea {
  background: transparent;
  color: #FFF;
  border: none;
  border: 2px solid #FFD300;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  height: 200px;
}

button {
  border: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22.4px;
  line-height: 41.6px;
  text-align: center;
  background: #FFD300;
  color: #000;
  width: 100%;
  margin-top: 25px;
}

* {
  outline: 1px solid red;
}